/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

GridPane {
	-fx-vgap: 5px;
	-fx-hgap: 5px;
	-fx-alignment: center-right;

}

Label { 
	-fx-font-size: 14;
}